version: '3.8'

services:
  flask-backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017
    depends_on:
      - mongo

  frontend:
    image: nginx:alpine
    ports:
      - "3000:80"  # Expose port 3000 for frontend
    volumes:
      - ./frontend/dist:/usr/share/nginx/html  # Serve the React build
    depends_on:
      - flask-backend

  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
